{% extends "base.html" %}
{% block content %}

<div class="row">
    {% include "sidebar.html" %}
    <div class="col-sm-10">
        <table id="movie-list" class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Tags</th>
                    <th></th>
                </tr>
            </thead>
            <!-- this will be used by js making the ajax delete request -->
            {% csrf-field %}
            <tbody>
                {% for movie in movies %}
                <tr class="movie-row movie-id-{{movie.id}} {%  if movie.is_watched %} movie-watched {% endif %}" data-movie-id="{{movie.id}}">
                    <td>
                        <span {% if not movie.original_title|empty? %}
                              data-toggle="tooltip" data-placement="top" title="{{movie.original_title}}"
                              {% endif %}
                              class="movie-title">
                            {{movie.title}}
                        </span>
                    </td>
                    <td>
                        <span class="movie-tags">
                            {% for tag in movie.tags %}
                            <span data-tag-color="{{tag.color}}" class="label label-default movie-tag-label">{{tag.label}}</span>
                            {% endfor %}
                        </span>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="{{movie.link}}" title="Go to the TMDB page">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                        <a class="btn btn-info btn-xs edit-movie" role="button" href="/movie/{{movie.id}}" title="Edit the movie">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <button class="btn btn-danger btn-xs delete-movie" type="button" data-movie-id="{{movie.id}}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block page-scripts %}
<script src="/js/home.js"> </script>
{% endblock %}
