{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <h4>Movies</h4>
        <ul id="movie-list" class="list-group sortable sortable-connected">
            <!-- this will be used by js making the ajax delete request -->
            {% csrf-field %}
            {% for movie in movies %}
            <li class="list-group-item movie-id-{{movie.id}} {%  if movie.is_watched %} movie-watched {% endif %} ui-state-default movie-to-sort" data-movie-id="{{movie.id}}">
                <h5>{{movie.title}}
                    <span class="movie-tags">
                        {% for tag in movie.tags %}
                        <span data-tag-color="{{tag.color}}" class="label label-default movie-tag-label">{{tag.label}}</span>
                        {% endfor %}
                    </span>
                </h5>
                <a href="{{movie.link}}">{{movie.link}}</a>
                <div class="pull-right buttons-container">
                    <a class="btn btn-info btn-xs edit-movie" role="button" href="/movie/{{movie.id}}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h4>Inbox</h4>
        <ul id="movie-inbox" class="list-group sortable sortable-connected">
            {% for mu in movies-unsorted %}
            <li class="list-group-item movie-id-{{mu.id}} {%  if mu.is_watched %} movie-watched {% endif %}" data-movie-id="{{mu.id}}">
                <h5>{{mu.title}}
                    <span class="movie-tags">
                        {% for tag in mu.tags %}
                        <span data-tag-color="{{tag.color}}" class="label label-default movie-tag-label">{{tag.label}}</span>
                        {% endfor %}
                    </span>
                </h5>
                <a href="{{mu.link}}">{{mu.link}}</a>
                <div class="pull-right buttons-container">
                    <a class="btn btn-info btn-xs edit-movie" role="button" href="/movie/{{mu.id}}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <button class="btn btn-danger btn-xs delete-movie" type="button" data-movie-id="{{mu.id}}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </li>
            {% endfor %}
        </ul>
        <a class="btn btn-info btn-xs pull-right" title="add new movie" role="button" href="/movie/new">
            <span class="glyphicon glyphicon-plus"></span>
            Add new
        </a>
    </div>
</div>
{% endblock %}
{% block page-scripts %}
<script src="/js/home.js"> </script>
{% endblock %}
