{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <h4>Results for {{keyword}}:</h4>
        <ul class="list-group">
            {% for result in results %}
            <li class="list-group-item" data-tmdb-movie-id="{{result.id}}">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>{{result.title}} {% if not result.release_date|empty?%}({{result.release_date}}){% endif %} </h5>
                        {% if not result.poster_path|empty? %}
                        <a href="/movie-search/{{result.id}}">
                            <img src="https://image.tmdb.org/t/p/w154/{{result.poster_path}}"/>
                        </a>
                        {% endif %}
                    </div>
                    <div class="col-sm-4 space-top action-buttons">
                        <a class="btn btn-default btn-sm" href="/movie-search/movie/{{result.id}}" role="button">More info</a>
                        <button class="btn btn-default btn-sm add-movie" role="button" data-movie-title="{{result.title}}" data-movie-original-title="{{result.original_title}}" data-movie-id="{{result.id}}">
                            Add this movie
                        </button>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
{% block page-scripts %}
<script src="/js/movie-search.js"> </script>
{% endblock %}
