{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <h4>{{result.title}}</h4>
        {% if not result.poster_path|empty? %}
        <img src="//image.tmdb.org/t/p/w300/{{result.poster_path}}"/>
        {% endif %}
    </div>
    <div class="col-md-4 space-top">
        <ul class="list-group">
            <li class="list-group-item">
                <h5>Release date</h5>
                {{result.release_date}}
            </li>
            {% if not result.genres|empty? %}
            <li class="list-group-item">
                <h5>Genres</h5>
                {% for genre in result.genres %}
                <span class="label label-info">{{genre.name}}</span>
                {% endfor %}
            </li>
            {% endif %}
            <li class="list-group-item">
                <h5>Synopsis</h5>
                {{result.overview}}
            </li>
        </ul>
        <div>
            <a class="btn btn-default btn-sm" href="//themoviedb.org/movie/{{result.id}}" role="button">View on TMDB</a>
            <button class="btn btn-default btn-sm add-movie" role="button" data-movie-id="{{result.id}}" data-movie-title="{{result.title}}" data-movie-original-title="{{result.original_title}}">
                Add this movie
            </button>
        </div>
    </div>
</div>

{% endblock %}
{% block page-scripts %}
<script src="/js/movie-search.js"> </script>
{% endblock %}
