<div id="sidebar" class="column col-sm-2">
    <ul class="nav nav-stacked nav-pills">
        <li><a href="/"><span class="glyphicon glyphicon-film"></span> All movies <span class="badge">45</span></a> </li>
        <li class="nav-divider"></li>
        <li><a href="#sec1"><span class="glyphicon glyphicon-tag"></span> Tag 1 <span class="badge">12</span></a></li>
        <li><a href="#sec2"><span class="glyphicon glyphicon-tag"></span> Tag 2 <span class="badge">1</span></a></li>
        <li><a href="#sec3"><span class="glyphicon glyphicon-tag"></span> Tag 3 <span class="badge">7</span></a></li>
        <li class="nav-divider"></li>
        <li><a href="/watched"><span class="glyphicon glyphicon-eye-open"></span> Watched <span class="badge">3</span></a></a></li>
    </ul>
</div>
