{% extends "base.html" %}
{% block content %}

  <div class="row">
    <div class="span12">
        <ul class="movies">
            {% for item in movies %}
            <li>
                <span>{{item.name}}</span></br>
                <span>{{item.imdb_link}}</span></br>
                <span>{{item.description}}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="span12">
        <form method="POST" action="/">
                {% csrf-field %}
                <p>
                    Name:
                    <input class="form-control"
                           type="text"
                           name="name"
                           value="{{name}}" />
                </p>
                {% if errors.name %}
                <div class="alert alert-danger">{{errors.name|join}}</div>
                {% endif %}
                <p>
                    Imdb link:
                    <input class="form-control"
                           type="text"
                           name="imdb_link"
                           value="{{imdb_link}}" />
                </p>
                {% if errors.imdb_link %}
                <div class="alert alert-danger">{{errors.imdb_link|join}}</div>
                {% endif %}
                <p>
                    Description:
                <textarea class="form-control"
                          rows="4"
                          cols="50"
                          name="message">{{description}}</textarea>
                </p>
                {% if errors.message %}
                <div class="alert alert-danger">{{errors.description|join}}</div>
                {% endif %}
                <input type="submit" class="btn btn-primary" value="go" />
        </form>
    </div>
</div>

{% endblock %}
