html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 40px;
}

li.movie-watched {
    text-decoration: line-through;
    background-color: #dcdcdc;
}

button.delete-movie, a.edit-movie {
    margin-top:-12px;
}

.ui-state-highlight {
    height:62px;
    list-style:none;
}

li.ui-sortable-handle:hover {
    cursor: pointer;
}
